*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Product Sans;
}
html,body{
    width: 100vw;
    height: 100vh;
}
#main{
    width: 100%;
    height: 100%;
    background-color:orangered
}
nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0vw 10vw;
    position: fixed;
     
}
nav a{
    text-decoration: none;
     font-size: 1vw;
     color: #fff;

}
nav img{
    width: 1.5vw;

}
.cntr-nav{
    display: flex;
    gap: 3vw;
}
.one{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(150deg,orangered,rgb(255, 153, 0));
}
#fanta{
width: 40%;

}